*.vscode
*.pyc
bruce_slam/src/bruce_slam/__pycache__/
bruce_slam/utils/__pycache__/
*pickle
bruce_slam/notebooks/.ipynb_checkpoints/*.ipynb
bruce_slam/notebooks/csv/*

bruce_slam/notebooks/reports/*/*